.header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45px;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  margin-bottom: 36px;
  text-align: center;
}
.header .logo img {
  display: inline-block;
  height: 80px;
}
