.langs__item.active {
  color: #f38b00;
}
.langs {
  color: #bab7b0;
}
.langs__item {
}
.langs__item + .langs__item {
  margin-left: 5px;
}
.langs__item + .langs__item::before {
  content: "|";
  margin-right: 5px;
  color: #bab7b0;
}
