.pagin {
  position: relative;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  border-radius: 0;
  border: 1px solid #dfdede;
  display: inline-block;
}
.pagin li.is-active {
  font-weight: bold;
  pointer-events: none;
}
.pagin li:first-child,
.pagin li:last-child {
  width: 38px;
}
.pagin li:first-child a,
.pagin li:last-child a {
  color: #dfdede;
  transition: color 0.2s;
  border: none;
  display: block;
}
.pagin li:last-child {
  border-radius: 0 16px 16px 0;
  border-left: 1px solid #dfdede;
}
.pagin li:first-child {
  margin-left: 0;
  border-radius: 16px 0 0 16px;
  border-right: 1px solid #dfdede;
}
.pagin a {
  color: inherit;
  text-decoration: none;
}
.pagin li {
  margin-left: 10px;
  height: 31px;
  line-height: 31px;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}
.pagin li.is-disabled {
  opacity: 0.6;
  pointer-events: none;
}
.pagin a {
  color: $black;
  transition: border-color 0.2s;
  border-bottom: 1px solid transparent;
}
