.wrap.color-red input:checked + .view {
  box-shadow: 0 0 0 1px #f65082;
}
.wrap.color-red input:checked + .view .circle {
  background-color: #f65082;
}
.wrap.color-orange input:checked + .view {
  box-shadow: 0 0 0 1px #ff5a00;
}
.wrap.color-orange input:checked + .view .circle {
  background-color: #ff5a00;
}
.wrap {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wrap input {
  display: none;
}
.wrap input:checked + .view {
  box-shadow: 0 0 0 1px #11d8fb;
  opacity: 1;
}
.wrap input:checked + .view .circle {
  background-color: #11d8fb;
  -webkit-transform: translateX(calc(48px / 2));
  transform: translateX(calc(48px / 2));
}
.wrap.color-green input:checked + .view {
  box-shadow: 0 0 0 1px #55eb3f;
}
.wrap.color-green input:checked + .view .circle {
  background-color: #55eb3f;
}
.view {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 24px;
  border-radius: 24px;
  box-shadow: 0 0 0 1px #829ca9;
  transition: all 0.2s ease;
  opacity: 0.5;
}
.circle {
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: calc(24px - 2px);
  height: calc(24px - 2px);
  background-color: #829ca9;
  border-radius: 50%;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
