.aside {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 225px;
  -ms-flex: 0 0 225px;
  flex: 0 0 225px;
  padding: 52px 0;
  font-size: 12px;
  color: #fff;
  background-color: #2b4060;
  overflow: hidden;
}

.aside .logo {
  display: block;
  margin: 10px 0 26px 36px;
  font-size: 24px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.aside .line {
  width: 100%;
  height: 1px;
  background-color: #2d294c;
  border: none;
  margin: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
}

.aside .add {
  display: block;
  width: 100%;
  padding: 20px 0 20px 37px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.aside .add i {
  color: #1fb6f5;
  font-size: 10px;
  margin-right: 16px;
}

.aside .menu-control {
  display: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100px;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  text-align: right;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

@media (max-width: 860px) {
  .aside {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 84px;
    -ms-flex: 0 0 84px;
    flex: 0 0 84px;
    padding: 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .aside .line {
    display: none;
  }

  .aside .add {
    width: auto;
    padding: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 120px;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
  }

  .aside .add i {
    color: #fa6431;
  }

  .aside .logo {
    width: 150px;
    margin: 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    background-position: center;
  }

  .aside .menu-control {
    display: inline-block;
  }
}
