.wrap {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrap input {
  display: none;
}

.view {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 17px;
  background-color: white;
  border: 1px solid #c9c9c9;
  border-radius: 100%;
  text-align: center;
}

input:disabled + .view {
  opacity: 0.5;
}

input:checked + .view {
}

input:checked + .view::before {
  opacity: 1;
}

.view::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #11d8fb;
  opacity: 0;
  border-radius: 100%;
}
