.switch {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.switch .item {
  display: inline-block;
}
.switch label {
  position: relative;
  display: block;
  height: 100%;
  margin-left: 1px;
  padding: 0 20px;
  color: rgba(61, 61, 61, 0.5);
  text-align: center;
  box-shadow: 0 0 0 1px #dadcde;
  transition: color 0.1s ease, box-shadow 0.1s ease;
  z-index: 1;
  cursor: pointer;
}
.switch label:hover {
  color: rgba(61, 61, 61, 1);
}
.switch input {
  display: none;
}
.switch input:checked + label {
  color: rgba(61, 61, 61, 1);
  box-shadow: 0 0 0 1px #11d8fb;
  z-index: 2;
}
.switch.disabled {
  background-color: #f5f5f5;
  opacity: 0.5;
  pointer-events: none;
}
