.main {
  text-align: center;

  .header {
    margin-bottom: 32px;
  }

  .content {
    font-size: 16px;
    line-height: 24px;
    max-width: 520px;
    margin: 0 auto;

    p {
      margin-bottom: 12px;
    }
  }

  .form {
    max-width: 520px;
    margin: 32px auto 0;
    font-size: 18px;
  }
}

.reject button {
  cursor: pointer;

  &:hover {
    color: #548ef0;
  }
}
