.main {
  text-align: center;

  .header {
    margin-bottom: 32px;
  }

  .content,
  .form {
    font-size: 18px;
    line-height: 24px;
  }

  .description {
    margin-bottom: 12px;
  }

  .accept {
    font-weight: 700;
    margin: 26px 0;
  }

  .email {
    margin: 32px 0;
  }
}

.details {
  margin-bottom: 30px;

  &__body {
    margin-top: 15px;
    margin-bottom: 60px;
    font-size: 14px;

    p {
      margin-bottom: 0;
    }
  }

  &__block {
    margin-top: 10px;
  }

  &__title {
    font-weight: 600;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
}
