.main {
  text-align: center;

  .header {
    margin-bottom: 32px;
  }

  .content {
    font-size: 18px;
    line-height: 24px;

    p {
      margin-bottom: 12px;
    }
  }

  .accept {
    font-weight: 700;
    margin: 26px 0;
  }

  .email {
    margin: 32px 0;
  }

  .form {
    max-width: 420px;
    margin: 0 auto;
  }
}
